[submodule "bashscripts"]
	path = bashscripts
	url = ../bashscripts.git
[submodule "poshfiles"]
	path = home-manager/config/poshfiles
	url = ../poshfiles.git
[submodule "vimfiles"]
	path = home-manager/config/vimfiles
	url = ../vimfiles.git
[submodule "nuscripts"]
	path = nuscripts
	url = ../nuscripts.git
[submodule "cheats"]
	path = home-manager/cheats
	url = ../cheats
