[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bashscripts"]
	path = bashscripts
	url = ../bashscripts.git
[submodule "poshfiles"]
	path = poshfiles
	url = ../poshfiles.git
[submodule "vimfiles"]
	path = vimfiles
	url = ../vimfiles.git
[submodule "tools/dotnet-sdk-helpers"]
	path = tools/dotnet-sdk-helpers
	url = https://github.com/faniereynders/dotnet-sdk-helpers.git
[submodule "nvim"]
	path = nvim
	url = ../nvimfiles.git
[submodule "nuscripts"]
	path = nuscripts
	url = ../nuscripts.git
[submodule "cheats"]
	path = cheats
	url = ../cheats
