[user]
  name = Giovanni Bassi
  email = giggio@giggio.net
[diff]
  indentHeuristic = true
  submodule = log
[color]
  diff = always
  interactive = always
  status = always
  branch = always
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  pf = push --force-with-lease
  pushtag = push origin --tags
  fixup = commit --all --amend --no-edit
  daily = !sh -c 'git log --since=yesterday --format=%s --author=\"`git config user.email`\"'
  serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  graph = log --graph
  squash = "!f() { git reset --hard $1; git merge --squash HEAD@{1}; git commit; }; f"
  continue = "-c core.editor=true rebase --continue"
  a = add :/
  hooks = !\"githooks-cli\"
  parse-env-vars = "!f() { \
                     awk '{ \
                       finalstr = $0; \
                       while (1) { \
                         if (match(finalstr, /\\$([A-Za-z0-9_]+)/)) { \
                           newstr = substr(finalstr, 1, RSTART - 1); \
                           newstr = newstr ENVIRON[substr(finalstr, RSTART + 1, RLENGTH - 1)]; \
                           newstr = newstr substr(finalstr, RSTART + RLENGTH); \
                           finalstr = newstr; \
                         } else { \
                           break; \
                         } \
                       } \
                       print finalstr; \
                     }'; \
                  }; f"
[pull]
  ff = only
[push]
  default = simple
  autoSetupRemote = true
[log]
  decorate = full
  abbrevCommit = true
[format]
  pretty=format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[gui]
  gcwarning = false
[commit]
  gpgsign = true
[diff "pandoc2md"]
  textconv = pandoc --to=markdown
[diff "xlsx"]
  textconv = python -m xlsx2csv
[diff "listzipfiles"]
  textconv = unzip -l
[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P
[init]
  defaultBranch = main
[rerere]
  enabled = true
[core]
  pager = delta --dark
[credential]
  helper = store --file $HOME/.cache/git/credential/.git-credentials
[gpg]
[pack]
  windowMemory = 0
[githooks]
  cloneUrl = https://github.com/gabyx/githooks.git
  cloneBranch = main
  installMode = manual
  pathForUseCoreHooksPath = /home/giggio/.githooks/templates/hooks
  runner = githooks-runner
  dialog = githooks-dialog
  maintainedHooks = all
