[Unit]
Description=Forward gpg extra socket to Windows
PartOf=wsl-forward-gpg-all.target

[Socket]
# %t is XDG_RUNTIME_DIR
ListenStream=%t/gnupg/S.gpg-agent.extra
SocketMode=0600
DirectoryMode=0700
Accept=yes

[Install]
WantedBy=sockets.target
